.container-main {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 900px;
    font-size: 0;
}

.container-left {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 25%;
    height: 100%;
    background-color: #7cbaf4;
}

.container-left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-chat {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #7cbaf4;
    box-sizing: border-box;
}

.container-leaderboards {
    display: block;
    position: relative;
    width: 100%;
    height: 30%;
    background-color: #7cf4b2;
    box-sizing: border-box;
    padding: 15px;
}

.chat-content, .leaderboards-content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.container-right {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 75%;
    height: 100%;
}

.container-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pagination {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    z-index: 1;
}

.pagination > #next-city {
    display: inline-block;
    width: 2px;
    height: 2px;
    font-size: 0;
}

#cesiumContainer {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#cesiumContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cesium-viewer-geocoderContainer, 
.cesium-home-button, 
.cesium-sceneModePicker-wrapper, 
.cesium-navigation-help-button, 
.cesium-toolbar-button {
    display: none !important;
}

.cesium-credit-logoContainer img {
    position: relative;
    width: auto;
    height: auto;
}

.cesium-credit-textContainer img {
    position: relative;
    width: auto;
    height: auto;
}

#balloonContainer {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-35%);
    width: 100%;
    height: 100%;
    line-height: 1;
    pointer-events: none;
    text-align: center;
}

#balloonContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#balloonContainer > canvas {
    display: inline-block !important;
}

#balloonContainer > canvas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#timer-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    vertical-align: top;
    text-align: center;
    z-index: 1;
    pointer-events: none;
}

#timer-container span {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 2px 2px #3f3f3f;
}

@font-face {
    font-family: Modak;
    src: url(fonts/Modak-Regular.ttf);
}
@font-face {
    font-family: Sniglet;
    src: url(fonts/Sniglet-ExtraBold.ttf);
}
@font-face {
    font-family: Titan;
    src: url(fonts/TitanOne-Regular.ttf);
}

body#index {
    background-color: #777;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #81b1e5;
}

.container span{
    position: fixed;
    animation: animate 2s linear infinite;
    z-index: 2;
}
.container span i{
    color:#ffff;
    font-size:10 px;
}
.container span:nth-child(1){
    left:60px;
    animation-delay:0.6s;
    top: 5%;
}
.container span:nth-child(2){
    left: 10%;
    animation-delay:2;
    top:40%;
}
.container span:nth-child(3){
    left:20%;
    animation-delay:5s;
    top:15%;
}
.container span:nth-child(4){
    left:26%;
    animation-delay:4s;
    top: 67%;
}
.container span:nth-child(5){
    left:40%;
    animation-delay:0.5s;
    top: 85%;
}.container span:nth-child(6){
    left:50%;
    animation-delay:5s;
    top: 20%;
}.container span:nth-child(7){
    left:73%;
    animation-delay:6s;
    top: 65%;
}.container span:nth-child(8){
    left:70%;
    animation-delay:3.5s;
    top: 12s;
}.container span:nth-child(9){
    left:80%;
    animation-delay:9s;
    top: 75%;
}
.container span:nth-child(10){
    left:95%;
    animation-delay:3s;
    top: 14%;
}
.container span:nth-child(11){
    left:17%;
    animation-delay:.3s;
    top: 50%;
}
.container span:nth-child(12){
    left:10%;
    animation-delay:.9s;
    top: 30%;
}
.container span:nth-child(13){
    left:95%;
    animation-delay:.9s;
    top: 60%;
}.container span:nth-child(14){
    left:74%;
    animation-delay:.9s;
    top: 40%;
}.container span:nth-child(15){
    left:67%;
    animation-delay:.9s;
    top: 45%;
}

@keyframes animate{
    0%{
        opacity:0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}

/* Container for the dropdown */
#dropdownContainer {
    position: absolute;
    top: 10%;
    right: 3%;
    width: 135px;
    height: auto;
    z-index: 10;
  }

.dropdown {
    position: relative;
    display: inline-block;
    }

  .dropbtn {
    background-color: #303336;
    color: #edffff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 150px;
  }
  
  .dropbtn:hover {
    background-color: #48b;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(48, 51, 54, 0.8);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* padding: 12px 16px; */
    z-index: 1;

    border-radius: 5px;
    right: 0;
    max-height: 500px; 
    overflow-y: auto;
  }
  
  .dropdown-content img {
    display: inline-block;
    position: relative;
    width: 100px;
    height: auto;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 5px;
  }
  
  .dropdown-content img:hover {
    border-color: #aef;
    box-shadow: 0 0 8px #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .dropbtn {
      font-size: 14px;
      padding: 12px;
    }
  
    .dropdown-content img {
      width: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .dropbtn {
      font-size: 12px;
      padding: 10px;
    }
  
    .dropdown-content img {
      width: 60px;
    }
  }


.container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* To cover the entire container */
}

#title {
    position: absolute;
    top: 10%; /* Adjust vertical positioning if needed */
    left: 50%;
    letter-spacing: 5px;
    transform: translate(-50%, -50%);
    font-family: Titan, Modak, Sniglet;
    text-align: center;
    color: #e46516;
    z-index: 1;
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Optional: Set a maximum width to prevent it from becoming too wide on larger screens */
    margin: 0 auto; /* Center the title horizontally */
    text-shadow: -3px 0 rgb(125, 55, 1), 0 3px rgb(125, 55, 1), 3px 0 rgb(125, 55, 1), 0 -3px rgb(125, 55, 1);

}
#title h1, h3{
    font-size:60px;
    margin-bottom: 0;
    margin-top: 0;
}
#title h2{
    margin-top: 0;
    margin-bottom:0;
}

.button-container {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; /* To ensure the button appears above the image */
}
.button {
    display: inline-block;
    padding: 30px; /* Adjust button size as needed */
    font-size: 30px; /* Adjust button font size as needed */
    font-family: Sniglet, Modak, Titan;
    background-color: #e46516;
    color: white; /* Set button text color */
    text-decoration: none; /* Remove default link underline */
    border: none; /* Remove button border */
    border-radius: 7px; /* Apply button border radius */
    width: auto; /* Set button width */
    height: auto; /* Set button height */
    text-shadow: -3px 0 rgb(125, 55, 1), 0 3px rgb(125, 55, 1), 3px 0 rgb(125, 55, 1), 0 -3px rgb(125, 55, 1);

}

.button:hover {
    background-color: #b14d0e; /* Change button background color on hover */
}
